body, html {
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,0.2);
}

#header-img {
    height: 50px;
}

#nav-bar {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

#email, #submit {
    margin: 10px 0;
    padding: 10px;
}

@media (max-width: 600) {
    #header, #nav-bar, #form {
        flex-direction: column;
    }
}

